<template name="footer">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <!-- ============================================================= FOLLOW US FOOTER ============================================================= -->
                    <div class="module widget">
                        <div class="module-header">
                            <h4 class="module-title text-md-center">Follow Us</h4>
                        </div>
                        <!-- /.module-header -->
                        <div class="module-body text-md-center">
                            <div class="row">
                                <div class="col-md-12 col-sm-6">
                                    <p>Lorem ipsum dolor sit amet</p>
                                    <ul class="list-social-icons">
                                        <li><a href="http://facebook.com/transvelo"><span data-icon=""></span></a></li>
                                        <li><a href="#"><span data-icon=""></span></a></li>
                                        <li><a href="#"><span data-icon=""></span></a></li>
                                        <li><a href="#"><span data-icon=""></span></a></li>
                                        <li><a href="#"><span data-icon=""></span></a></li>
                                    </ul>
                                    <!-- /.list-social-icons -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-12 col-sm-6">
                                    <address>
Lorem ipsum dolor sit amet<br>
<strong>KYBully PSD</strong><br>
108 ABC, New York, USA <br>
(+00)-000-0000-000
</address>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.module -->
                    <!-- ============================================================= FOLLOW US FOOTER : END ============================================================= -->
                </div>
                <!-- /.col -->
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-6">
                            <!-- ============================================================= NEWSLETTER FOOTER ============================================================= -->
                            <div class="module block-newsletter">
                                <div class="module-header">
                                    <h4 class="module-title text-md-center">Newsletter</h4>
                                </div>
                                <!-- /.module-header -->
                                <div class="module-body text-md-center">
                                    <p>Lorem ipsum dolor sit amet</p>
                                    <form role="form">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="yourname@email.com" autocomplete="off">
                                            <span class="input-group-btn">
<button class="btn btn-default" type="button"><span data-icon="E"></span></button>
                                            </span>
                                        </div>
                                        <!-- /input-group -->
                                    </form>
                                </div>
                                <!-- /.module-body -->
                            </div>
                            <!-- /.module -->
                            <!-- ============================================================= NEWSLETTER FOOTER : END ============================================================= -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-12 col-sm-6">
                            <!-- ============================================================= PAYMENTS FOOTER ============================================================= -->
                            <div class="module widget">
                                <div class="module-header">
                                    <h4 class="module-title text-md-center">Payments</h4>
                                </div>
                                <!-- /.module-header -->
                                <div class="module-body text-md-center">
                                    <p>Lorem ipsum dolor sit amet</p>
                                    <ul class="list-payment-logos">
                                        <li><img src="assets/images/payments/48x32xvisa.png.pagespeed.ic.44lL3foEGi.png" alt="Visa" width="48" height="32"></li>
                                        <li><img src="assets/images/payments/48x32xmastercard.png.pagespeed.ic.fY5iabcZPe.png" alt="MasterCard" width="48" height="32"></li>
                                        <li><img src="assets/images/payments/48x32xpaypal.png.pagespeed.ic.n-nttTwauU.png" alt="Paypal" width="48" height="32"></li>
                                        <li><img src="assets/images/payments/48x32xebay.png.pagespeed.ic.pm1ev3dI4s.png" alt="eBay" width="48" height="32"></li>
                                        <li><img src="assets/images/payments/48x32xamerican-express.png.pagespeed.ic.hW9UDyuUri.png" alt="American Express" width="48" height="32"></li>
                                    </ul>
                                    <!-- /.payment-logo-list -->
                                </div>
                                <!-- /.module-body -->
                            </div>
                            <!-- /.module -->
                            <!-- ============================================================= PAYMENTS FOOTER : END ============================================================= -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col -->
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <!-- ============================================================= SHIPPING DELIVERY FOOTER ============================================================= -->
                    <div class="module">
                        <div class="module-header">
                            <h4 class="module-title text-md-center">Shipping &amp; Delivery</h4>
                        </div>
                        <!-- /.module-header -->
                        <div class="module-body text-md-center">
                            <p>Lorem ipsum dolor sit amet</p>
                            <ul class="list-link">
                                <li><a href="index.php?page=category">Consectetur adipisicing elit, sed do eiusmod</a></li>
                                <li><a href="index.php?page=category">Tempor incididunt ut labore et dolore</a></li>
                                <li><a href="index.php?page=category">Magna aliqua. Ut enim ad minim</a></li>
                                <li><a href="index.php?page=category">Veniam, quis nostrud exercitation</a></li>
                                <li><a href="index.php?page=category">Ullamco laboris nisi ut aliquip ex ea</a></li>
                            </ul>
                            <!-- /.list-link -->
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.module -->
                    <!-- ============================================================= SHIPPING DELIVERY FOOTER :END ============================================================= -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="navbar navbar-footer">
            <!-- ============================================================= NAVBAR FOOTER ============================================================= -->
            <div class="container text-md-center">
                <ul class="navbar-nav nav hidden-sm hidden-xs">
                    <li><a href="index.php?page=home">Home</a></li>
                    <li><a href="index.php?page=contact">Contact</a></li>
                    <li><a href="index.php?page=checkout">Shipping</a></li>
                    <li><a href="index.php?page=contact">FAQs</a></li>
                </ul>
                <!-- /.navbar-nav -->
                <p class="navbar-text pull-right text-md-center copyright-text">copyright © 2014 KYBully</p>
            </div>
            <!-- /.container -->
            <!-- ============================================================= NAVBAR FOOTER : END ============================================================= -->
        </div>
        <!-- /.navbar -->
    </footer>
</template>
