<template name="sidebar">
    <!-- Subscribe-->
<!--
    <div class="subscribe">
        {{> subscribe}}
    </div>
-->
    <!-- End Subscribe-->
    <!-- Popular post-->
    <div class="popular-post">
        {{> popular_post}}
    </div>
    <!-- Video -->
<!--
    <div class="video">
        {{> sidebar_video}}
    </div>
-->
    <!-- End video-->
    <div class="line_4"></div>
    <!-- Album ảnh -->
<!--
    <div class="video">
        {{> album_anh}}
    </div>
-->
    <!-- End album -->
    <div class="line_2"></div>
    <!-- New letter-->
<!--
    <div class="new-letter">
        {{> newsletter}}
    </div>
-->
    <!-- End New letter -->
</template>